/* Status Test */
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem{
    display: inline-flex;
    width: 60px;
    overflow: hidden;
    height: 52px;
    flex-direction: unset;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) {
    position: absolute;
    left: 70px !important;
    width: 240px !important;
    margin-top: 38px;
    height: 52px !important;
    transition-delay: 10ms;
    border-radius: 0;
    bottom: 0 !important;
    transition: 250ms ease-in;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-helper,
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-separator {display: none;}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-menu{
    width: 240px;
    border-radius: 0;
    bottom: 0;
    padding: 0;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusIconText div+div {display: none;}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem {
    transition: 350ms ease-in, box-shadow 500ms ease;
    background-image: linear-gradient(140deg, transparent,rgba(0,0,0,0.15), rgba(0,0,0,.25))
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-status {
    background-color: transparent;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem:first-child {
    background-color: #43b581;
    transition-delay: 150ms;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem:nth-child(3) {
    background-color: #faa61a;
    transition-delay: 200ms;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem:nth-child(4){
    background-color: #f04747;
    transition-delay: 250ms;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem:nth-child(5){
    background-color: #747f8d;
    transition-delay: 300ms;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem:hover {
    opacity: 0.9;
    transition: 175ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem:active {
    transform: scale(0.95);
    transition: 120ms ease-in;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusIconText *{
    display: none;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-statusItem {
    left: 0;
    top:0;
    margin: 0;
    border-radius: 0;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-menuItem {
    position: absolute;
    left: 100% !important;
    margin: 0;
    top: 0;
    background-color: #3e3c3c;
    padding: auto;
    text-align: center;
    line-height: 18px;
    min-width: 62px;
    min-height: 52px;
    max-width: 62px;
    max-height: 52px;
    font-size: 0.65rem;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-customStatus {
    width: auto;
    font-size: 0.67em;
    color: #d7d1d1;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-customStatusIcon {
    display: none;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-menuItem:hover .da-clearStatus {
    top: 62%;
    opacity: 1;
    transition: 350ms ease-in;
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-clearStatus {
    position: absolute;
    left: 40%;
    top: 1000%;
    opacity: 0;
}
@keyframes slide-in {
    0% {width: 2px;opacity:0;min-width: unset;}
    25%{width: 10px;opacity: 0.2;min-width: unset;}
    50%{width: 35px;opacity: 0.8;min-width: unset;}
    75%{width: 50px;opacity: 1;min-width: unset;}
    100%{width: 60px;opacity: 1;min-width: unset;}
}
.da-layer[style*="left: 80px;"]:not([layer-id]):not([style*="top:"]) .da-menuItem {
    animation: slide-in ease-in 450ms 1;
}